{% extends 'saving/base_saving.html'%}

{% block content%}
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h4 class="text-center alert alert alert-info"> AJOUTER UNE EPARGNE</h4>
            <form action="" method="POST">
                {%csrf_token%}
                {{ form.as_p}}
                <button type="submit" class="btn btn-success">Ajouter</button>

            </form>

        </div>
        <div class="col-sm-8">
            <h4 class="text-center  alert alert-info"> INFORMATIONS GENERALES SUR LES EPARGNES EFFECTUEES </h4>
            {% if solde %}
            <table class=" table table-hover">
                <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">montant_epargne</th>
                        <th scope="col">ancien_solde</th>
                        <th scope="col">nouveau_solde</th>
                        <th scope="col">Date_epargne</th>
                        <th scope="col">id_pers</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sol in solde %}
                    <tr>
                        <th scope="row"> {{sol.id}} </th>
                        <td>{{sol.montant_epargne}}</td>
                        <td>{{sol.ancien_solde}}</td>
                        <td>{{sol.nouveau_solde}}</td>
                        <td>{{sol.Date_epargne}}</td>
                        <td>{{sol.id_pers}}</td>
                        <td>
                            <a href="{% url 'updatedata' sol.id %}" class="btn btn-warning btn-sm">Modifier</a>
                            <form action="{% url 'deletedata' sol.id %}" method="POST" class="d-inline">

                                <input type="submit" class="btn btn-danger" value="Supprimer">
                                {%csrf_token%}

                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else%}
            <h4 class="text-center alert alert alert-warning">PAS D'ENREGISTREMENTS</h4>
            {% endif%}
        </div>
    </div>
</div>
{% endblock content%}